.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: $font-primary;
 

  .return_container{
    color: $color-secondary;
    margin: rem(50);

    .return_link{
      font-size:$font-medium;
    }
    
  }

}


.container_card{
    width: 65%;
    color: $color-secondary;
    font-size:$font-regular;
    line-height: rem(40);
    padding:10px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);

    
    @include tablet {
      width: 30%;
  
    }
}

.weather_image{
  width: 45%;

  @include tablet {
    width: 15%;

  }
}

.weather_temp{
  font-size:$font-large;
}

.weather_title{
  font-size:$font-medium;
  padding-bottom: rem(10);
}