.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: $font-primary;

  .return_container{
    color: $color-secondary;
    margin: rem(50);
    
  }

}


.container_card{
    width: 100%;
    color: $color-secondary;
    font-size:$font-regular;
    line-height: rem(40);
}

.weather_image{
  width: 45%;

  @include tablet {
    width: 15%;

  }
}

.weather_temp{
  font-size:$font-large;
}

.weather_title{
  font-size:$font-medium;
  padding-bottom: rem(10);
}